.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.marginright{
  margin-right: 5px ;
}

.marginleft{
  margin-left: 10%;
}

.marginbottom{
  margin-bottom: 5px;
}

.borderbottom{
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

.margintop{
  margin-top: 7px;
}

.highertopmargin{
  margin-top: 45px;
}

.imagesize{
  width: 112px;
  height: 112px;
}

.marginleftpx{
  margin-left: 25px;
}

.fixposition{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}